/* primary colors */
$color-hotorange: #FF6600;
$color-scarletred: #E50000;
$color-royalpurple: #68007A;
$color-antarcticblue: #CCE9F9;
$color-coolblue: #0090E3;
$color-darkblue: #285DAB;
$color-freshgreen: #00B900;

/* secondary colors */
$color-white: #FFFFFF;
$color-cirrusgrey: #F7F7F7;
$color-whitesmoke: #F3F3F3;
$color-brightgrey: #EEEEEE;
$color-grey: #DDDDDD;
$color-silver: #CCCCCC;
$color-raingrey: #999999;
$color-darkgrey: #666666;
$color-hurricanegrey: #333333;
$color-coolblack: #111111;
$color-greyblue: #F2F7FC;
$color-arcticblue: #E5F6FF;
$color-raingreyblue: #E1E6EB;
$color-darkgreyblue: #899BB1;
$color-winterblue: #8DC8EA;
$color-springblue: #40ACEA;
$color-curiousblue: #199BE5;
$color-eveningblue: #1E4680;
$color-navy: #003366;
$color-lightpink: #FFE5E5;
$color-yogurtred: #F0CBCB;
$color-rubyred: #BE0000;
$color-darkorange: #B93800;
$color-peppermint: #E0F6E0;
$color-lightgreen: #ACE5AC;
$color-darkgreen: #008500;


$font-arial: Arial, Helvetica, Verdana, sans-serif;
$font-avenir: AvenirBlack, Arial, Helvetica, Verdana, sans-serif;
$font-dobra: DobraSlabBook, Georgia, "Times New Roman", Times, "Droid Serif", serif;
$font-dobraMedium: DobraSlabMedium, Georgia, "Times New Roman", Times, "Droid Serif", serif;
$font-open-sans: "Open Sans", Arial, Helvetica, Verdana, sans-serif;


$header-height: 4.4rem;
$grid-gutter: 1.7rem;
$grid-gutter-small: 1rem;
