@import "variables";

.coolblue-bar {
  background: $color-coolblue;
  height: $header-height;
  position: relative;
  width: 100%;
  padding: 0 $grid-gutter;
}

.coolblue-bar--logo-link {
  display: block;
  font-size: 0;
}

.coolblue-bar--logo-image {
  height: $header-height;
  width: calc($header-height * (82.6/53.1));
}
