@import "variables";

.order-status-container {
  margin: 0 -$grid-gutter;
  overflow: hidden
}

.order-status-container--content {
  display: flex;
  flex-wrap: wrap;
  margin-left: -1px;
  margin-right: -1px;
}

.order-status-container--top {
  margin-bottom: $grid-gutter/2;
  flex: 100% 0 0;
}

.order-status-container--left {
  margin-right: $grid-gutter/2;
}

.order-status-container--right {
  flex: 55% 1 1;
}

.order-status-container--bottom {
  margin-top: $grid-gutter/2;
  flex: 100% 0 0;
}



.order-status--title{
  display: block;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.order-status--text {
  margin-top: $grid-gutter-small;
  color: $color-silver;
  font-size: 1.8rem;
}

.order-status--image {
  float: left;
  margin-right: $grid-gutter;
}

.order-status--text-highlight {
  color: $color-coolblue;
}

.order-status--title-sub {
  float: right;
  color: $color-silver;
}

.order-status--status-bar-container {
  margin-top: $grid-gutter * 1.5;
}

.order-status--status-bar {
  margin-top: $grid-gutter-small;
}
