@import "variables";

.section {
  margin: 4rem 0;
}

.section--header {
  color: $color-coolblack;
  font-size: 1.6rem;
  font-weight: normal;
  font-weight: 600;
  margin: 0 0 $grid-gutter-small;
}
