@import "variables";

$status-bar-height: 1.4rem;

.status-bar {
  border: 1px solid $color-winterblue;
  background: $color-greyblue;
  height: $status-bar-height;
  border-radius: 3px;
  margin-bottom: 1.5rem;
  position: relative;
  font-size: 1.2rem;
  font-weight: 600;

  &:before {
    content: "";
    display: block;
    width: 5%;
    background: $color-darkblue;
    border-radius: 2px;
    height: calc(#{$status-bar-height} - 2px);
  }
}

.status-bar--percentage {
  position: absolute;
  left: 3%;
  top: calc(#{$status-bar-height} + 0.4rem);
}

.status-bar--indicator {
  position: absolute;
  top: 0;
  left: 40%;
  padding-top: calc(#{$status-bar-height} + 0.4rem);;
  color: $color-coolblue;

  &:before {
    content: "";
    display: block;
    height: calc( #{$status-bar-height} + 0.4rem);
    width: 0.3rem;
    border-radius: 10rem;
    background: $color-coolblue;
    position: absolute;
    top: -4px;
    left: calc(40% + 0.2rem);
  }

  &:after {
    content: "";
    border-radius: 50%;
    height: 0.7rem;
    width: 0.7rem;
    background: $color-coolblue;
    position: absolute;
    left: 40%;
    top: calc(#{$status-bar-height} - 0.4rem);
  }
}
